.vscode/**
.vscode-test/**
.test-status.json
*.vsix
*.vsix.sha256
data/YouHaveCodeLogo.png
out/**
node_modules/**
!node_modules/@napi-rs/
!node_modules/@napi-rs/canvas/
!node_modules/@napi-rs/canvas/**
!node_modules/@napi-rs/canvas-*/
!node_modules/@napi-rs/canvas-*/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
